DISCORD_BOT_TOKEN=botToken
DISCORD_API_URL="https://discord.com/api/v10"
OPEN_AI_API_KEY=sk-hahaha-searchGithubForOpenAiAPIKey-youWontBeDisappointed
OPEN_AI_ASSISTANT_ID=asst-id
OPEN_AI_API_URL="https://api.openai.com/v1"
